<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Man</title>
</head>
<!--script type="text/javascript">
    function goClick(val){
    alert ("Im clicked - " + val);
    }
</script-->

<body>

<H1><b>Weather Man</H1></b></H1>
    <form name="Weatherform" action="." method="post">
        Enter city name <input type="text" name="city" id="city">
        <input type="submit" value="Ask Weather Man !">
<h2 color="blue">**********************************************************************************</h2>
        <h1>Weather in : {{e}}</h1>

        <h1>Weather       :{{a}}</h1>
        <h1>Wind speed    :{{b}}</h1>
        <h1>Tempetature(F):{{c}}</h1>
        <h1>COUNTRY       :{{d}}</h1>
    </form>
</body>
</html>